@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

@font-face {
    font-family: 'ISTCloud';
    src:url('fonts/ISTCloud.eot');
    src:url('fonts/ISTCloud.eot?#iefix') format('embedded-opentype'),
        url('fonts/ISTCloud.woff') format('woff'),
        url('fonts/ISTCloud.ttf') format('truetype'),
        url('fonts/ISTCloud.svg#ISTCloud') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'ISTCloud';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
[class*="icon-"], .file {
    font-family: 'ISTCloud';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position:relative;
}
.icon-cloud:before {
    content: "\e000";
}
.icon-cloud-download:before {
    content: "\e001";
}
.icon-cloud-upload:before {
    content: "\e002";
}
.file:before {
    content: "\e003";
}
.icon-file-pdf:before {
    content: "\e008";
}
.icon-file-word:before, .icon-file-doc:before, .icon-file-docx:before {
    content: "\e004";
}
.icon-file-excel:before, .icon-file-xls:before, .icon-file-xlsx:before {
    content: "\e005";
}
.icon-file-zip:before, .icon-file-rar:before, .icon-file-tar:before, .icon-file-tgz:before, .icon-file-bz2:before {
    content: "\e006";
}
.icon-file-powerpoint:before, .icon-file-ppt:before, .icon-file-pptx:before {
    content: "\e007";
}
.icon-file-xml:before, .icon-file-html:before, .icon-file-php:before {
    content: "\e009";
}
.icon-file-css:before, .icon-file-c:before, .icon-file-cpp:before, .icon-file-java:before, .icon-file-h:before {
    content: "\e00a";
}
.icon-image:before, .icon-file-png:before, .icon-file-gif:before, .icon-file-jpg:before, .icon-file-jpeg:before {
    content: "\e00b";
}
.icon-music:before, .icon-file-mp3:before {
    content: "\e01d";
}
.icon-windows:before, .icon-file-exe:before {
    content: "\e01c";
}
.icon-android:before, .icon-file-apk:before {
    content: "\e016";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-remove:before {
    content: "\e00c";
}
.icon-folder:before {
    content: "\e00d";
}
.icon-plus:before {
    content: "\e00e";
}
.icon-signout:before {
    content: "\f08b";
}
.icon-signin:before {
    content: "\f090";
}
.icon-film:before {
    content: "\e00f";
}
.icon-warning:before {
    content: "\e010";
}
.icon-notification:before {
    content: "\e011";
}
.icon-eye:before {
    content: "\e013";
}
.icon-pencil:before {
    content: "\e014";
}
.icon-share:before {
    content: "\f064";
}

.icon-close:before {
    content: "\e015";
}

.icon-font:before {
    content: "\f031";
}

.icon-caret-left:before {
    content: "\f0d9";
}
.icon-globe:before {
    content: "\e017";
}
.icon-history:before {
    content: "\e018";
}
.icon-html5:before {
    content: "\e01a";
}
.icon-git:before {
    content: "\e01b";
}
.icon-github:before {
    content: "\e012";
}
.icon-dropbox:before {
    content: "\e019";
}
.icon-play:before {
    content: "\e01e";
}
.icon-pause:before {
    content: "\e021";
}
.icon-stop:before {
    content: "\e022";
}
.icon-volume-low:before {
    content: "\e024";
}
.icon-volume-mute:before {
    content: "\e025";
}
.icon-volume-high:before {
    content: "\e023";
}
.icon-loop:before {
    content: "\e026";
}
.icon-link:before {
    content: "\e020";
}

.icon-folder.share:after{
    content: "\f064";
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:18px;
    color:white;
}
.icon-folder.history:after{
    content: "\e018";
    position:absolute;
    color:white;
    bottom:3px;
    left:3px;
    font-size:18px;
    opacity:0.75;
}
.icon-folder.windows:after{
    content: "\e01c";
    position:absolute;
    color:white;
    bottom:4px;
    left:4px;
    font-size:16px;
    opacity:0.75;
}
.icon-folder.web:after{
    content: "\e017";
    position:absolute;
    color:white;
    bottom:4px;
    left:3px;
    font-size:16px;
    opacity:0.75;
}
.icon-folder.git:after{
    content: "\e01b";
    position:absolute;
    color:white;
    bottom:2px;
    left:3px;
    font-size:18px;
    opacity:0.75;
}
.icon-eye-blocked:before {
    content: "\e01f";
}
ul#filelist .file, .folder{
    float:left;
    font-size:32px;
    margin: -4px 8px 0 0;
    color:#009de0;
}

body,html{
    height:100%;
}

body{
    background:#DDD;
    font-family:Lato, sans-serif;
    font-size:16px;
    padding:30px;
    margin:0;
    font-weight:300;
}

body.mainPage{
    padding-left:270px;
}

.clear{
    clear:both;
}

ul#filelist{
    list-style:none;
    padding:0;
    margin:0;
    font-size:20px;
    line-height:25px;
}
ul#filelist li{
    display:block;
    padding:14px;
    border-top:1px solid #DDD;
    background:white;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    white-space:nowrap; 
    overflow:hidden;
    
}

ul#filelist li .actions{
    float:right;
    margin:-4px;
    display:none;
}

ul#filelist li:hover .actions{
    display:block;
}

ul#filelist li .actions a{
    display:inline-block;
    width:30px;
    height:30px;
    border:2px solid #009de0;
    color:#009de0;
    text-align:center;
    border-radius:17px;
    margin-left:6px;
}
ul#filelist li .actions a:hover{
    color:white;
    background:#009de0;
}

ul#filelist li .actions a i{
    line-height:30px;
}

ul#filelist li a{
    color:#46555f;
    text-decoration:none;
}

ul#filelist li span{
    color:#BBB;
    font-size:0.7em;
}

#sidebar{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:200px;
    padding:20px;
    background:#46555f;
    text-align:center;
    z-index:99;
    
}
#bread{
    float:left;
}
#bread a{
    text-decoration:none;
}
#bread i, #bread span{
    display:inline-block;
    height:50px;
    line-height:50px;
    float:left;
    padding-right:6px;
}
#bread i{
    color: #009de0;
}
#bread i.icon-cloud{
    font-size:36px;
}
#bread span{
    font-size:18px;
    color: #46555f;
}


.campo{
    padding:10px;
    font-family:Lato, sans-serif;
    font-size:16px;
    border:1px solid #BBB;
    border-radius:2px;
    color:#46555f;
    margin:0;
    margin-right:10px;
    font-weight:300;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.botao{
    padding:10px 20px;
    font-family:Lato, sans-serif;
    font-size:16px;
    border-radius:2px;
    border:none;
    background:#009de0;
    color:white;
    font-weight:300;
    text-transform:uppercase;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    text-decoration:none;
    border-bottom: 2px solid #2A82A8;
}

.botao.close{
    background:#DDD;
    color:#999;
    border-bottom-color:#BBB;
}

.botao.close:hover{
    background:#EEE;
    color:#AAA;
    border-bottom-color:#CCC;
}

.botao:hover, fieldset:hover .botao{
    background:#3CB9F0;
    border-bottom-color:#009de0;
}

#logo{
    margin:20px auto 30px;
    width:auto;
    height:122px;
    background-image:url(images/logo.png);
    background-position:center center;
    background-repeat:no-repeat;
}

fieldset{
    margin:0;
    padding:0;
    border:none;
    height:42px;
}

#uploadform{
    float:right;
}

#uploadform span{
    line-height:39px;
    color:green;
    text-transform:uppercase;
    display:none;
}

.uploadavatar {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
}
.uploadavatar a{
    display:block;
}
.uploadavatar input {
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 0.01;
}

.username span{
    color: #BBB;
    font-size:14px;
    display:block;
}

.username{
    color: white;
    font-size:20px;
    
}

#dragoverlay{
    position:fixed;
    top:0;
    left:240px;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.75);
    text-align:center;
    z-index:99;
    color:#DDD;
    font-size:40px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    border: 6px dashed #DDD;
    display:none;
}
#doin{
    display: table;
    width:100%;
    height:100%;
}
#doin div{
    display: table-cell;
    vertical-align: middle;
}

#sidebar a.logout{
    display:inline-block;
    color:#BBB;
    text-decoration:none;
    padding-top:30px;
    text-transform:uppercase;
}
#sidebar a.logout:hover{
    border-bottom:1px dashed #BBB;
}

footer{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
}
.joaoluis{
    color:white;
}
#sidebar .joaoluis a{
    color:white;
    display:block;
    opacity:0.5;
    text-decoration:none;
    margin-top:10px;
    
}
#sidebar .joaoluis a:hover{
    opacity:1;
    border-bottom:none;
}

.permissions{
    text-align:left;
}

.permissions h3{
    padding:6px;
    background:#2A82A8;
    color:white;
    font-weight:300;
    font-size:16px;
    text-align:center;
    margin:0;
    text-transform:uppercase;
}

.permissions ul{
    list-style:none;
    margin:0;
    padding:0;
}

.permissions li{
    font-size:14px;
    padding:6px;
    background: rgba(255,255,255,0.5);
    margin:1px 0 0;
    
}

.permissions li span{
    color:rgba(255,255,255,0.5);
    font-size:14px;;
    float:right;
    line-height:18px;
}

.permissions .botao{
    display:block;
    font-size:12px;
    margin-top:10px;
}

#sidebar .legenda{
    font-size:12px;
    color: #BBB;
    margin-bottom:4px;
    text-align:center;
}

h1{
    font-weight:300;
}
.nofiles{
    font-size:40px;
    color:#BBB;
}
.nofiles i{
    font-size:100px;
}

#quota{
    width:100%;
    height:10px;
    background: rgba(0,0,0,0.25);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    padding:2px;
    border-radius:5px;
}

#qbar{
    height:6px;
    background:#009de0;
    border-radius:3px;
}

.overlay{
    background:white;
    width:400px;
    z-index:100000;
    display:none;
    border-radius:5px;
    padding:10px;
}
.overlay h3{
    padding:10px;
    margin:-10px -10px 10px;
    background:#2A82A8;
    color:white;
    font-weight:300;
    font-size:16px;
    text-transform:uppercase;
    border-radius: 5px 5px 0 0;
}

.permbt{
    display:inline-block;
    background:white;
    border:1px solid #009de0;
    color: #009de0;
    font-size:24px;
    text-align:center;
    width:40px;
    margin-right:6px;
    border-radius:5px;
    float:right;
}
.permbt i{
    line-height:40px;
}
.permbt.active{
    color: white;
    background-color:#009de0;
}

#perms .campo{
    display:inline-block;
    width:240px;
}
.onefield .campo{
    width:100%;
    
}
.overlay .bts{
    margin-top:10px;
}
.overlay .botao{
    float:right;
}
.overlay .botao.close{
    float:left;
}

.topbar{
    background:#BBB;
    padding:10px;
}

.topbar .botaotb{
    background:#EEE;
    display:inline-block;
    padding:6px 10px;
    font-size:14px;
    color:#666;
    border-radius:2px;
    text-decoration:none;
    text-transform:uppercase;
}

.topbar .botaotb.inactive{
    opacity:.6;
}

.topbar .botaotb.left{
    margin-right:10px;
}
.topbar .botaotb.right{
    margin-left:10px;
}
.left{
    float:left;
}

.right{
    float:right;
}

#loginStrip{
    position:absolute;
    top:0;
    bottom:0;
    width:300px;
    left:50%;
    margin-left:-400px;
    background:white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#loginStrip #joaopluis{
    position:absolute;
    bottom:30px;
    left:0;
    right:0;
    text-align:center;
}

#loginlogo{
    margin:0px 0 20px;
}

#loginContainer{
    width:800px;
    height:280px;
    position:absolute;
    top:50%;
    left:50%;
    margin: -140px 0 0 -400px;
}

#loginContainer form{
    width:240px;
    padding:30px;
    display:block;
    text-align:right;
    float:left;
    margin-right:30px;
}
#loginContainer form.man{
    text-align:center;
}

#loginContainer form .campo{
    width: 240px;
    display:block;
    margin-bottom:10px;
}

#loginMsg{
    padding:10px;
    line-height:30px;
    height:30px;
    margin: 30px 0 20px 330px;
    color:#DDD;
    font-size:22px;
    border-radius:5px;
    position:relative;
}

#loginMsg.info{
    background:#AAA;
}

#loginMsg.logout:before{
    content: "\f08b";
    font-family:ISTCloud;
    position:absolute;
    font-size:60px;
    top:10px;
    bottom:-5px;
    right:0px;
}

#loginMsg.warning{
    background:#FF5A40;
}

#loginMsg.warning:before{
    content: "\e010";
    font-family:ISTCloud;
    position:absolute;
    font-size:60px;
    top:10px;
    bottom:-5px;
    right:0px;
}

.footerstuff{
    color:#BBB;
    font-size:16px;
    max-width:800px;
    margin-top:20px;
}
.footerstuff h3{
    font-size:22px;
    margin:0;
    padding:0;
    font-weight:300;
}
.footerstuff p{
    margin:0;
    padding:0;
}
.footerstuff a{
    text-decoration:none;
    color:#AAA;
}
.footerstuff i{
    float:left;
    margin-right:10px;
    font-size:20px;
}
.footerstuff.big i{
    font-size:54px;
}

body.audio{
    padding:0;
}

#audioContainer{
    width:400px;
    height:100px;
    overflow:hidden;
    background:white;
}
#audioContainer img{
    float:left;
    margin-right:10px;
    width:100px;
    height:100px;
}
#audioContainer .topControls{
    height:40px;
    position:relative;
        margin-top:18px;

}

#audioContainer .topControls i{
    display:block;
    line-height:40px;
    margin-right:10px;
    color:#009DE0;
    cursor:pointer;
        font-size:30px;
    margin-top:0;
    width:30px;
    float:left;
}
#audioContainer .topControls span{
    display:block;
    line-height:40px;
    color:#009DE0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height:40px;
    font-size:19px;
    float:left;
    width:250px;
    
}
#audioContainer .bottomControls i{
    display:block;
    line-height:20px;
    margin-right:6px;
    color:#999;
    cursor:pointer;
    font-size:16px;
    margin-top:0;
    width:16px;
    float:left;
}
#audioContainer .bottomControls{
    height:20px;
    position:relative;
}
#audioContainer .bottomControls #timeRange{
    width:226px;
    height:6px;
    background:#DDD;
    float:left;
    margin-top:7px;
    border-radius:3px;
    position:relative;
    border:none;
    margin-left:10px;
}
#audioContainer .bottomControls #timeRange #slider-progress{
    width:33%;
    height:6px;
    background:#009DE0;
    border-radius:3px;
    display:block;
    position:relative;
}
#audioContainer .bottomControls #timeRange #slider-handle{
    width:12px;
    height:12px;
    border-radius:6px;
    background:white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.75);
    position:absolute;
    top:-3px;
    left:-6px;
    border:none !important;
    
}
#audioContainer .bottomControls #timeRange #slider-bubble{
    background:#46555f;
    color:white;
    padding:4px;
    position:absolute;
    bottom: 6px;
    font-size:10px;
    border-radius:2px;
    width:30px;
    margin-left:-24px;
    opacity:0.75;
    text-align:center;
    
}
#audioContainer #audioPlay, #audioContainer #audioUnmute{
    display:none;
}

@media screen and (min-width: 801px) {
    .mobileonly{
        display:none !important;
    }
}

@media screen and (max-width: 800px) {
    
    body.mainPage{
        padding:10px;
        padding-left:10px;
        padding-top:70px;
    }
    
    body.loginPage{
        padding:10px;
    }
    
    .nomobile{
        display:none !important;
    }
    
    #sidebar{
        position:fixed;
        top:0;
        left:0;
        right:0;
        width:auto;
        bottom:auto;
        height:40px;
        padding:10px;
        
    }
    #logo{
        margin:0;
        width:auto;
        height:40px;
        background-image:url(images/logomobile.png);
        background-position:left center;
        background-repeat:no-repeat;
    }
    
    #sidebar a.logout{
        display:block;
        position:absolute;
        top:0px;
        right:0px;
        padding:10px;
        line-height:40px;
        font-size:26px;
    }
    #bread{
        float:none;
        display:block;
    }
    #uploadform{
        display:block;
        float:none;
        width:100%;
        clear:both;
        margin-bottom:10px;
    }
    #loginStrip{
        width:270px;
        margin-left:-135px;
    }
    #loginContainer{
        width:270px;
        position:relative;
        top:auto;
        bottom:auto;
        left:auto;
        right:auto;
        height:auto;
        margin:auto;
    }
    #loginContainer form{
        padding:15px;
        display:block;
        text-align:right;
        margin: auto;
        float:none;
    }
    
    #loginContainer form .botao{
        width:240px;
    }
    
    .footerstuff.big{
        display:block;
        width:240px;
        padding:15px;
        margin-top:10px;
    }
    .footerstuff.big i{
        font-size:40px;    
    }
    .footerstuff.big h3{
        font-size:17px;    
    }
    
    #loginMsg{
        
        display:none;
        margin: 10px 15px 0;
        color:white;
        font-size:16px;
        line-height:normal;
        height:auto;
        text-align:center;
    }
    
    #loginMsg.info{
        display:block;   
    }
    
    #loginMsg.info:before, #loginMsg.warning:before{
        display:none;
    }
    
}